.logo {
    width: 150px;
    font-size: 1.5em;
    margin-left: 20px;
    position: relative;
    background: none;
    z-index: 2;
}

.logo::before {
    content: "";
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -20px;
    background-color: antiquewhite;
    position: absolute;
    z-index: -1;
} 

.footer-img {
    width: 150px;  
}

.footer-img:hover {
    position: relative;
    transform: ;
    width: 300px;
    top: -150px;
}